<div class="cards-list">
  
    <div class="card 1">
      <div class="card_image"> <img src="../../assets/bankpic.jpg" /> </div>
      <div class="card_title title-white">
        <button class="okbutton" routerLink="/createLoan" role="button">Create Loan</button>
      </div>
    </div>
    
      <div class="card 2">
      <div class="card_image">
        <img src="../../assets/displayLoan.jpg"/>
        </div>
      <div class="card_title title-white">
        <button class="okbutton" routerLink="/allLoans" role="button">Loan Details</button>
      </div>
    </div>
    


   



    
    